<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- IP-address server Oracle -->
		<add key="DbHost" value="000.103.00.00" />

		<!-- connection strings -->
		<add key="DbPort" value="1500"/>
		<add key="DbServiceName" value="SERVR1"/>
		<add key="DbUserId" value="user1"/>
		<add key="DbPwd" value="user1"/>
	</appSettings>
</configuration>