<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- IP-address server Oracle -->
		<add key="DbHost" value="146.103.98.237" />

		<!-- строки подключения -->
		<add key="DbPort" value="1521"/>
		<add key="DbServiceName" value="XEPDB2"/>
		<add key="DbUserId" value="user1c"/>
		<add key="DbPwd" value="user1c"/>
	</appSettings>
</configuration>